<div class="wrapper">
  <div class="container">
    <% @bookings.each do |booking| %>
      <p><%= booking.user.name.upcase %> - <%= booking.boat.name.upcase %></p>
      <p><%= booking.start_date %> -> <%= booking.end_date %></p>
      <%= link_to "BACK TO #{booking.boat.name.upcase}", boat_path(booking.boat) %>
    <% end %>
  </div>
</div>
