<%= form_for @boat do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="form-group">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name, class:"form-control input" %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description' %>
    <%= f.text_field :description, class:"form-control input" %>
  </div>
  <div class="form-group">
    <%= f.label :location, 'Location' %>
    <%= f.text_field :location, class:"form-control input" %>
  </div>
  <div class="form-group">
    <%= f.label :capacity, 'Capacity' %>
    <%= f.text_field :capacity, class:"form-control input" %>
  </div>
  <div class="form-group">
    <%= f.label :length, 'Length of Boat' %>
    <%= f.text_field :length, class:"form-control input" %>
  </div>
  <div class="form-group">
    <%= f.label :price_per_week, 'Price per week' %>
    <%= f.text_field :price_per_week, class:"form-control input" %>
  </div>
  <div class="form-group">
    <%= f.label :type, 'Type of Yacht' %>
    <%= f.select :category, ["Sail Boat", "Motor Boat"], class:"form-control input" %>
  </div>
  <div class="form-group">
    <%= f.label :photos, "Add a photo" %>
    <%= f.file_field :photos, multiple: true %>
  </div>
  <%= f.submit class:"btn btn-primary" %>
<% end %>


