<%= form_for @boat do |f| %>
<%= render 'shared/error_messages' %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="form-devise">
          <%= f.label :name, 'YACHT NAME', class:"form-control-label input-new" %>
          <%= f.text_field :name, class:"form-control input" %>
          <%= f.label :description, 'DESCRIPTION', class:"form-control-label" %>
          <%= f.text_field :description, class:"form-control input" %>
          <%= f.label :location, 'LOCATION', class:"form-control-label"  %>
          <%= f.text_field :location, class:"form-control input", id:"boat_location" %>
          <%= f.label :capacity, 'CAPACITY', class:"form-control-label" %>
          <%= f.text_field :capacity, class:"form-control input" %>
          <%= f.label :length, 'BOAT LENGTH', class:"form-control-label" %>
          <%= f.text_field :length, class:"form-control input" %>
          <%= f.label :price_per_week, 'PRICE PER WEEK', class:"form-control-label" %>
          <%= f.text_field :price_per_week, class:"form-control input" %>
          <%= f.label :type, 'BOAT TYPE', class:"form-control-label" %>
          <%= f.select :category, ["Sail Boat", "Motor Boat"], class:"form-control input" %>
          <%= f.fields_for :photos do |photo| %>
            <%= photo.file_field :url, multiple: true, name:"photos[url][]" %>
          <% end %>
          <%= f.submit class: "btn btn-homepage add-boat-button" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>



