<div class="banner-show">
  <div class="container" style="width: 140vw; margin-left: -20vw">
    <div class="show-carousel row">
      <% @boat.photos.each do |photo| %>
      <div><img src="<%= cl_image_path photo.url, crop: :fill %>" class="carousel-image" alt=""></div>
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper show-page">
  <div class="container body-container">
    <div class="row text-center" >
      <div class="col-sm-12">
        <div class="boat-info">
          <h1 id="boat-name"><%= @boat.name.upcase %></h1>
            <p><strong><i class="fas fa-map-marker-alt"></i></strong> <%= @boat.location.upcase %></p>
          <ul class="list-inline">
            <li><strong><i class="fas fa-dollar-sign"></i></strong> <%= @boat.price_per_week %></li>
            <li><strong><i class="fas fa-ship"></i></strong> <%= @boat.category.upcase %></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default btn-homepage" data-toggle="modal" data-target="#exampleModalCenter">
          BOOK NOW
        </button>
      </div>
    </div>
    <div class="row bottom-half">
      <div class="show-info">
        <div class="show-left">
          <h2>DESCRIPTION</h2>
          <p><%= @boat.description.upcase %></p>
          <hr>
          <ul class="list-inline">
            <li><strong><i class="fas fa-users"></i></strong> <%= @boat.capacity %> guests</li>
            <li><strong><i class="fas fa-anchor"></i></strong> <%= @boat.length %></li>
          </ul>
          <ul>
            <li>
              <%= render 'card_user', user: @boat.user, sender_id: current_user.id, recipient_id: @boat.user.id, class:"text-center" %>
            </li>
          </ul>
        </div>
        <div class="review-form show-right">
          <h2>REVIEWS</h2>
          <%= form_for [@boat, @review] do |f| %>
            <%= f.label :content, 'CONTENT' %>
            <%= f.text_field :content, class:"form-control", required: true %>
            <div class="rating-form">
              <%= f.label :rating, 'RATING' %>
              <%= f.select :rating, (1..5), class:"form-control", required: true %>
            </div>
            <br>
            <%= f.submit 'ADD REVIEW', class:"btn btn-default btn-homepage btn-move" %>
          <% end %>
          <hr>
          <div id="review-content">
            <% @boat.reviews.each do |review| %>
              <p>
                <%= review.content %>
                <% review.rating.times do %>
                  <i class="fas fa-star" style="color: #FFE501"></i>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <h2>LOCATION</h2>
    <div
      id="map"
      style="width: 100%;
      height: 400px;margin-bottom: 200px;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">BOOK THIS BOAT</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for [@boat, @booking] do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :start_date, 'CHECK IN' %>
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
        <div class="form-group">
          <%= f.label :end_date, 'CHECK OUT' %>
          <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
        <div class="form-group">
          <%= f.label :guests, 'GUESTS' %>
          <%= f.select :guests, (1..10), class:"form-control input" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'BOOK!', class:"btn btn-default btn-homepage" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/modal' %>
<%= content_for(:after_js) do %>
<script>
    $( document ).ready(function() {
      $('.show-carousel').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: true,
        autoplay: true,
      });
    });
  </script>
  <% end %>

