<div class="container">
  <div class="banner" style="background-image: url(<%= "https://source.unsplash.com/400x400/?yacht&sig=#{(1..1000).to_a.sample}" %>);">
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="boat-info">
      <h1 id="boat-name"><%= @boat.name %></h1>
      <ul>
        <li><strong>Description:</strong> <%= @boat.description %></li>
        <li><strong>Location:</strong> <%= @boat.location %></li>
        <li><strong>Capacity:</strong> <%= @boat.capacity %></li>
        <li><strong>Boat Length:</strong> <%= @boat.length %></li>
        <li><strong>Price of Boat per week:</strong> <%= @boat.price_per_week %></li>
        <li><strong>Type of Boat:</strong> <%= @boat.category %></li>
      </ul>
    </div>
    <div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Book Now
      </button>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLongTitle">Book this boat</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= form_for [@boat, @booking] do |f| %>
            <div class="modal-body">
              <div class="form-group">
                <%= f.label :start_date, 'Check-in' %>
                <%= f.date_select :start_date, class:"form-control input" %>
              </div>
              <div class="form-group">
                <%= f.label :end_date, 'Check-out' %>
                <%= f.date_select :end_date, class:"form-control input" %>
              </div>
              <div class="form-group">
                <%= f.label :guests, 'Guests' %>
                <%= f.select :guests, (1..10), class:"form-control input" %>
              </div>
            </div>
            <div class="modal-footer">
              <%= f.submit 'Book!', class:"btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <% @boat.reviews.each do |review| %>
      <p><%= review.content %> - <%= review.rating %></p>
      <% end %>
      <%= form_for [@boat, @review] do |f| %>
      <%= f.label :content, 'Content' %>
      <%= f.text_field :content, class:"form-control", required: true %>
      <%= f.label :rating, 'Rating' %>
      <%= f.select :rating, (1..5), class:"form-control", required: true %>
      <%= f.submit class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

