<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Port</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <% if notice %>
      <div class="margin-div alert-info" style="height: 176px;">
        <%= render 'shared/flashes' %>
      </div>
    <% elsif alert %>
      <div class="margin-div alert-warning" style="height: 176px;">
        <%= render 'shared/flashes' %>
      </div>
    <% else %>
      <div class="margin-div" style="height: 176px;">
        <%= render 'shared/flashes' %>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
